<a href="https://colab.research.google.com/github/Athithiyanmr/Athithiyanmr/blob/main/SVM_Assignment14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Network_Ads.csv

**Import libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Importing the dataset**

In [ ]:
df = pd.read_csv("/content/Social_network_Ads.csv")

In [ ]:
df1 = df.copy()
df1

In [ ]:
df.head()

**Splitting the dataset into the Training set and Test set**

In [ ]:
df1.drop(["User ID","Gender"],axis=1,inplace = True)

In [ ]:
x = df1.iloc[:,:2]
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [ ]:
y = df1.iloc[:,-1]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

**Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
stand_scl = StandardScaler()
x_train = stand_scl.fit_transform(x_train)
x_test = stand_scl.fit_transform(x_test)
x_train , x_test

Fitting SVM to the Training set

In [ ]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train,y_train)
y_pred =  model.predict(x_test)
y_train_pred = model.predict(x_train)

**Predicting the Test set results**

In [ ]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

In [ ]:
sns.heatmap(confusion_matrix,annot = True)
plt.xlabel("predicted")
plt.ylabel("actual")
plt.show